section {
  text-align: center;
}

.search-box {
    background-color: #ffb300;
    padding: 100px;
    z-index: -1;
}

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }

.button {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px !important;
    font-size: 16px;
    background-color: #57bd84;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px;
    font-weight:600;
  }

  .button:hover {
    background-color: #3b8159;
  }

  @media (max-width: 561px) {
    input {
        width: 50%;
    }
  }

  .img-size {
    width: 70%;
  }

  .bg-color {
    background-color: #EEEEEE;
  }

  .undefined-recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin:0 auto;
    color: #BDBDBD;
  }